@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

.Abouthead__1 {
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 0%
    ),
    url(https://static.wixstatic.com/media/ad420a_a2e071ce60fe498ea50d1a8d332a4c4b~mv2.jpg/v1/fill/w_1349,h_506,al_c,q_85,usm_0.66_1.00_0.01/ad420a_a2e071ce60fe498ea50d1a8d332a4c4b~mv2.webp);
  background-size: cover;
  padding-top: 10%;
}
.avtarabout__1 {
  margin-bottom: -2rem;
  height: 24rem;
  width: 21rem;
}
.avtarabout__2 {
  margin-top: 10rem;
  margin-bottom: 6rem;
  h1 {
    font-family: "Cormorant Garamond", serif;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    margin-bottom: 3rem;
  }
}
