@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');




.mycontent__left{

    border-left: 3px solid #BA9247;
    p{
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        

    }
}
.btndetails__1{
    width: 6rem;
    
}
.detailbtn__2{
    font-family: 'Raleway', sans-serif;
    color: rgb(250, 245, 239);
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 0;
    background-color: black;
}
.detailbtn__2:hover{
        background-color: rgb(51, 51, 51);
        color: rgb(211, 211, 211);
}

.commentpara__1{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.comment__1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;

}
.cardtitle2__1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: gray;
}
.recenthead__1{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.detailspara__2{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.social{
    margin-top: 5rem;
}
.paradis__1{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;

}
.paradis__2{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;

}
.headdis__1{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    
}
.paracard__4{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.paracard__5{
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}
.headcard__4{
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
}
.cardid__1{
    border: 0.1px solid rgba(228, 228, 228, 0.445);
}
.detailspara__1{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;

}