@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.Cardhead__1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}
.Cardhead__1:hover {
  color: #ba9247;
  cursor: pointer;
}
.Cardpara__1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.all__1:hover {
  color: #ba9247;
  cursor: pointer;
}
.avtarpara__1 {
  line-height: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
.avtarpara__1:hover {
  color: black;
}
.avtarpara__2 {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
}
.postpara__1 {
  margin-left: 12rem;
}
